include mixins

html
  head
    meta(charset="utf-8")
    +styles(background, mcblogo)
  body
    if addresses
      for address in addresses
        +pdfPage(address, datum, aktuellesTreffen, laender)
    else if name
      +mailPage(name, datum, aktuellesTreffen)
    else
      +pdfPage(address, datum, aktuellesTreffen, laender)
