html
  head
    style.
      body {
        font-size:14px;
        font-family:sans-serif;
      }
    meta(charset="utf-8")
    title Hilfe
  body
    h1 Hilfe
    p Die Anwendung besteht aus zwei getrennten Bereichen:

    h2 Adressen
    p Hier arbeitest Du während einem Treffen.

    h3 Wie melde ich jemanden?
    p.
      Du drückst den roten Knopf "Meldung...". Es erscheint ein Fenster, in dem die Anzahl der Besucher schon auf "eins" gesetzt ist.
      Jetzt kannst Du noch für Samstag und Sonntag das Frühstück eintragen.
    img(src="Meldungdialog.png")
    p Wichtig: Wenn Du fertig bist, musst Du "Speichern" drücken!

    h3 Wie entferne ich eine Meldung?
    p.
      Wenn jemand gemeldet ist, ändert sich der rote Knopf "Meldung..." zu einem grünen "Ist gemeldet...". Drück den Knopf und das Fenster erscheint wieder.
      Hier kannst Du dann die Anzahl auf "0" setzen und speichern. Dadurch ist die Meldung aufgehoben.

    h3 Was bedeuten die Bilder in der Liste neben den Namen?
    p Der kleine Umschlag ist entweder grün, gelb oder rot und erklärt, ob die Person eine E-Mailadresse hat:
    ul
      li Grün: Alles gut. E-Mail scheint OK zu sein.
      li Gelb: Die Person hat keine E-Mail Adresse angegeben. <b>Fragen und Eintragen</b>
      li Rot: Die E-Mail Adresse hat nicht funktioniert. <b>Dringend Ändern</b>

    h3 Eine E-Mail Einladung an nur eine Person schicken
    p Das funktioniert mit dem Knopf neben der E-Mail Adresse.

    h2 Treffen
    p Hier legst Du Treffen an, verschickst Einladungen und erzeugst PDFs zum Drucken. Zum Versenden von E-Mails musst Du natürlich online sein.

    h3 Wie mache ich eine neue Einladung?
    p Am einfachsten kopierst Du die Einladung aus dem vorigen Jahr und passt Name, Titel und Datum an. Das sollte es gewesen sein.

    h3 Ich will den Einladungstext ändern
    p Das ist ein wenig komplizierter. Gib Beschied, ich mach Dir das dann.

    h3 Ich will die Einladungen (E-Mail) verschicken
    p Am Besten schickst Du die Einladung erst mal an Dich selbst (siehe Adressen). Überprüfe alles genau! - Wenn alles gut ist, kannst Du mit dem Knopf "E-Mails..." oben rechts die E-Mails vrschicken.
    p: b Denk daran, dass je nach dem, ob das Treffen ein Gespanntreffen ist oder nicht, andere Empfänger gewählt werden!
    p Nach einem Tag solltest Du die E-Mails prüfen, ob es Fehler gab. Bei fehlerhaften Adressen änderst Du dann den E-Mail Status auf fehlerhaft! (Speichern nicht vergessen; danach muss die Adresse rot sein)

    h3 Ich will die Einladungen (PDF) verschicken
    p Du hast hoffentlich schon die E-Mails versendet und im Mailprogramm (auf dem Laptop) geprüft, ob es Fehler gab. Jetzt kannst Du mit dem Knopf "Briefe..." ein PDF erstellen, das alle Einladungen enthält.
